@font-face {
  font-family: 'iconfont';
  /* Project id 2629420 */
  src: url('//at.alicdn.com/t/font_2629420_90a64tpu7ft.woff2?t=1624503035239') format('woff2'),
    url('//at.alicdn.com/t/font_2629420_90a64tpu7ft.woff?t=1624503035239') format('woff'),
    url('//at.alicdn.com/t/font_2629420_90a64tpu7ft.ttf?t=1624503035239') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}